body {
    font-family: monospace;
    font-size: 13pt;
    background-color: white;
    margin: 0;
}

img {
    max-width: 100%;
}

input {
    max-width: 100%;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.text {
    margin-left: auto;
    order: 2;
    padding: 0.5rem;
}

#account {
    padding: 0.5rem;
    color: #747474;
    text-decoration: none;
}

#welcome {
    padding: 0.5rem;
    color: black;
    text-decoration: none;
}

#logout {
    padding: 0.5rem;
    color: #0f5592;
    text-decoration: none;
}

nav {
    background-color: #3a3a3a;
    color: #bababa;
    text-align: center;
    font-weight: bold;
    padding: 0.75rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

nav ul li {
    justify-content: center;
    display: block;
    margin: 0.5rem 0;
}

nav a {
    color: #bababa;
    text-decoration: none;
    padding: 0.75rem 0.5rem;
    background-color: #3a3a3a;
}

nav a:hover {
    color: #3a3a3a;
    border-top: 3px solid #4c96d7;
    border-bottom: 3px solid #4c96d7;
    background-color: #4c96d7;
}

main {
    padding: 0 0.75rem 0.75rem;
}

#dmc {
    color: #2770af;
    display: grid;
    grid-template-columns: 1fr;
}

#dmc-text {
    padding: 1rem;
    max-width: fit-content;
}

#dmc-text h2 {
    margin: 0;
}

#dmc section {
    z-index: 1;
}

#delorean {
    position: relative;
    top: -2.5rem;
}

#own {
    padding: 1rem;
    margin: 0 auto;
    z-index: 1;
}

footer {
    border-top: 4px solid #3a3a3a;
    text-align: center;
    padding: 1rem;
}

p {
    margin: 0;
}

#dmc, #parts-grid {
    margin: 1rem;
}

#parts-grid {
    display: grid;
    grid-template-columns: 1fr;
}

#upgrades-grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

#upgrades-grid picture {
    background-color: #2770af;
    border: 1px solid #3a3a3a;
}

#upgrades-grid a {
    margin-bottom: 1rem;
}

input, textarea, select, form button, form a {
    display: block;
}

input, select, textarea, form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

select {
    font-size: inherit;
}

label {
    font-weight: bold;
}

form button {
    background-color: #4c96d7;
    color: #3a3a3a;
    cursor: pointer;
    font-weight: bold;
    font-size: inherit;
}

form button:hover, form button:focus {
    background-color: #0f5592;
    color: #bababa;
}

#password-notice {
    margin-bottom: 0.5rem;
}

input:required:invalid, input:focus:invalid, textarea:required:invalid, textarea:focus:invalid {
    background-color: #ffdede;
}

input:required:valid, textarea:required:valid {
    background-color: #daffc2;
}

#inventoryDisplay thead th, #reviewListDisplay thead th {
    text-align: left;
}

#inventoryDisplay tbody tr td, #reviewListDisplay tbody tr td {
    padding: 0.5rem;
}

#inventoryDisplay a, #reviewListDisplay a {
    text-decoration: none;
    padding: 0.25rem;
    border-radius: 7px;
}

#inventoryDisplay tbody tr td:nth-child(3n+0) a, #reviewListDisplay tbody tr td:nth-child(3n+0) a {
    color: #8a1919;
    background-color: #ffdede;
}

#inventoryDisplay tbody tr td:nth-child(2n+0) a, #reviewListDisplay tbody tr td:nth-child(2n+0) a {
    color: #194e7d;
    background-color: #d4ebff;
}

html{
 box-sizing: border-box;
}

*, *:before, *:after{
 box-sizing: inherit;
}

#inv-display {
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
}

#inv-display li {
 border: 2px #ccc solid;
 list-style-type: none;
 flex: 1 1 auto;
 border-radius: 7px;
 text-align: center;
 padding: 0.5rem;
 margin: 0.5rem;
}

#inv-display a {
	text-decoration: none;
}

#inv-display li img {
    max-width: 100%;
    border-radius: 7px;
}

hr {
  display: block;
  max-width: 100%;
  color: #000000;
  height: 4px;
  background-color: #000000;
}

#vehicle-details {
	display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
}

#vehicle-details img {
	border-radius: 7px;
}

#details {
	display: flex;
	flex-direction: column;
}

#vehicle-details p {
	padding: 1rem;
	border-radius: 7px;
	margin: 0;
	text-align: left;
}

#price, #title {
	font-weight: bold;
	text-align: left;
}

#details p:nth-child(even) {
	background-color: #cbe1f5;
}

#details p:nth-child(3) {
	background-color: #ebf2fa;
}

#thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    grid-gap: 0.5rem;
}

#thumbnails img {
    border-radius: 8px;
    align-self: stretch;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
}

#grid #thumbnail-container {
	grid-row: 2;
}

#image-display li {
	list-style-type: none;
}

.review-notice, #password-notice, #add-notice, .name {
	color: #0f5592;
}

.notice {
	color: red;
	margin: 1rem 0;
}

.review-notice a {
	display: inline;
}

.name {
	margin-bottom: 1rem;
}

.review {
	border: 2px solid #0f5592;
	border-radius: 8px;
	margin: 1rem 0;
	padding: 0.5rem;
	background-color: #ebf2fa;
}

.min {
	font-size: 11.5pt;
	color: #0f5592;
}

#review-form {
	max-width: fit-content;
	border: 2px solid #0f5592;
    border-radius: 8px;
    padding: 1rem;
    background-color: #ebf2fa;
}

#name {
	font-size: inherit;
}

#review-form textarea {
	border: 2px solid #0f5592;
    border-radius: 8px;
    min-width: 100%;
}

#review-form textarea:required:invalid, #review-form textarea:focus:invalid {
    background-color: #ffffff;
}

#review-form textarea:required:valid {
    background-color: #ffffff;
}



@media only screen and (min-width: 55rem) {

    html {
        background-image: url("../images/site/small_check.jpg");
    }
    
    body {
        margin: 0.5rem auto;
        border: 5px solid #2770af;
        border-radius: 8px;
        width: 80%;
        font-size: 15pt;
    }

    nav a {
        padding: 0.75rem;
    }
    
    #parts-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
   
    #parts-grid section:nth-child(even) {
        grid-column: 1;
        grid-row: 1;
    }
    
    #parts-grid section:nth-child(odd) {
        grid-column: 2;
    }

    #dmc section:nth-child(odd) {
        grid-row: 1;
    }

    #dmc picture {
        grid-row: 3;
    }
    
    #dmc:nth-child(even) {
        grid-row: 2;
    }

    #own {
        margin: 0;
    }

    #vehicle-details {
        grid-template-columns: 1fr 1fr;
    }

    /* For vehicle display in classification view */
    	#inv-display {
    		flex-flow: row wrap;
    		justify-content: flex-start;
    	}

    	#inv-display h2 {
    		font-size: 1rem;
    	}

    	#inv-display li {
    		max-width: 200px;
    		flex: 1 0 auto;
    		text-align: center;
    		display: flex;
    		flex-direction: column;
    		justify-content: end;
    		align-items: center;
    	}

    	#inv-display div {
    		max-width: 100%;
    	}

        #thumbnails {
            display: flex;
            flex-direction: column;
        }

        #grid {
            grid-template-columns: 1fr 7fr;
        }

		#grid #thumbnail-container {
			grid-row: auto;
		}

		#grid #thumbnail-container h2 {
			display: none;
		}

		#thumbnails img:hover {
        	transform: scale(2.5);
        }
}